html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;

    width: 400px;
}

.calculator-screen {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #454444;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border: 1px solid #353f3f;
    background-color: transparent;
    font-size: 20px;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operatore {
    color: #337cac;
    background-color: #ccc;
}

.all-clear:hover {
    background-color: #e83d43;
}


.segno-uguale {
    background-color: #bc5458;
    border-color: #bc5458;
    color: #fff;
    width: 100%;
    height: 100%;
}

.segno-uguale:hover {
    background-color: #1d6290;
}

.uguale {
    grid-area: uguale;
}


.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    grid-template-areas:
        ". . . ."
        ". . . uguale"
        ". . . uguale"
        ". . . uguale"
        ". . . uguale";

}